
<div class="container mt-5">
    <div >
        <a routerLink="">
            <button class="btn btn-warning"> Dashboard</button>
        </a>
    </div>
    <div class="row mt-5">
        <div class="col-8">
            <div class="text-center">
                <div class="p-3"><h3>Document details</h3> </div>
                <div>
                    <img src="{{data.img}}" alt="">
                </div>
                <div class="p-3">
                    <span>{{data.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>